.DS_Store
.markdownlint.json
modeling/*
project/*
utils/*
book/_build/*
_build/*
book/chapter-*/lecture-*-notes-jc.pdf
book/chapter-*/lecture-notes/lecture-*-notes-jc.pdf
book/copy_content.sh
book/copied-content/01-intro.md
book/copied-content/02-notation.md
book/copied-content/03-section-01.md
book/copied-content/04-section-02.md
book/copied-content/05-section-03.md
book/copied-content/06-section-04.md
book/copied-content/07-review.md
book/copied-content/08-section-01.md
book/copied-content/09-section-02.md
book/copied-content/10-section-03.md
book/copied-content/11-section-04.md
book/copied-content/12-section-05.md
book/copied-content/13-section-06.md
book/copied-content/14-section-07.md
book/copied-content/15-section-08.md
book/copied-content/16-review.md
book/copied-content/17-section-01.md
book/copied-content/18-section-02.md
book/copied-content/19-section-03.md
book/copied-content/20-review.md
book/copied-content/21-section-01.md
book/copied-content/22-section-02.md
book/copied-content/23-section-03.md
book/copied-content/24-review.md
book/copied-content/25-section-01.md
book/copied-content/26-section-02.md
book/copied-content/27-section-03.md
book/copied-content/28-review.md
book/copied-content/29-section-01.md
book/copied-content/30-section-02.md
book/copied-content/31-review.md
book/copied-content/32-section-01.md
book/copied-content/33-section-02.md
book/copied-content/34-review.md
book/copied-content/35-appendix-a.md
book/copied-content/36-appendix-b.md
book/copied-content/37-appendix-y.md
book/copied-content/38-appendix-z.md
book/work_and_heat_are_path_functions.png
